<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home.index') }}">
      <img src="{{ asset('akatsuki.png') }}" alt="Logo" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        {% if app.user %} {#condition qui permet d'afficher uniquement le contenu si l'utilisateur est connecté avec la méthode app.user récupérer sur la doc symfony#}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home.index') }}">Mon espace
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('apiscore.index') }}">Mes scores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="transition: color 0.30s ease-in-out;" onmouseover="this.style.color='red';" onmouseout="this.style.color='';" href="{{ path('jeu.index') }}">Jouer</a>
        </li>
        {% endif %}
      </ul>
      <div class="d-flex">
          <ul class="navbar-nav me-auto">
          {% if app.user %} 
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
                  <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
                      <a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{ path('security.logout') }}">Deconnexion</a>
                  </div>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('security.registration') }}">Inscription</a>
              </li>
          {% endif %}
          </ul>
      </div>
    </div>
  </div>
</nav>