{% extends "base.html.twig" %}

{% block title %}AKATSUKLICK{% endblock %}
{% block body %}    
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="card text-center border-danger mb-3 mt-4 mx-auto" style="max-width: 35rem;">
                    <div class="card-header"><h4> {{ app.user.getPseudo() }} </h4></div>
                    <div class="card-header"><h4> {{ rang }} </h4></div> 
                    <div class="card-body">
                        <p class="card-title">Total de parties: {{ totalParties }}</p>
                        <p class="card-text">Ta moyenne est de {{ moyenne|number_format(2, '.', ',') }} clic !</p>
                    </div>
                </div>
        {% else %}
            {# Contenu pour les utilisateurs non connectés #}
            <div class="container mt-4">
                <div class="jumbotron text-center">
                <h1 class="display-4">Prouve ta rapidité !</h1>
                <p class="lead">Règle du jeu: Clique le plus de fois possible sur le bouton en 10 secondes ! Bonne chance.</p>
                <hr class="my-4">
                <p>Rends toi sur la page d'inscription pour utiliser l'application ou connecte toi si tu as déjà un compte.</p>
                <hr class="my-4">
            </div>
            {# <a class="btn btn-danger btn-lg" href="{{ path('security.registration') }}" role="button">Inscription</a> #}
        {% endif %}
        
        <h1 class="text-center text-danger mt-5">Classement mondial</h1>
        {% for bestScore in bestScores %}
            <h3 class="text-center mt-4">{{ bestScore.user_full_name }} - Record: {{ bestScore.best_score }} clic !</h3>
        {% endfor %}
        
{% endblock %}
