{% extends 'base.html.twig' %}

{% block title %}Mes scores{% endblock %}

{% block body %}
    <div class="container mt-2">
        
            <h1>Mes scores</h1>

            {# message flash #}
            {% for message in app.flashes('success')%}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
            {% endfor %}

            <div class="count mt-2">
                <h4>
                    Il y a {{ scores.getTotalItemCount }} parties au total
                </h4>
            </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">N° Partie</th>
            <th scope="col">Score</th>
            <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                <th scope="row">{{ score.id }}</th>
                <td>{{ score.score }}</td>
                <td>{{ score.createdAt | date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('score.delete', {id: score.id})}}" class="btn btn-danger">Supprimer</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(scores) }}
        </div>
    </div>
{% endblock %}