{# templates/pages/jeu/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}
    <audio id="backgroundMusic1" src="{{ asset('/shinra_tensei.ogg') }}" preload="auto"></audio>
    <audio id="backgroundMusic2" src="{{ asset('/shinra_tensei2.ogg') }}" preload="auto"></audio>
    <h3 class="text-center mt-4">Clique le plus vite possible sur le bouton pendant <span id="tempsRestant">10</span> secondes !</h3>
    <div class="jumbotron text-center">
        <button id="monBouton" type="button" class="btn btn-danger btn-lg mt-5">Cliquez moi !</button>
        <h1 class="text-center mt-4">Score: <span id="score">0</span></h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jeu.js') }}"></script>
{% endblock %}